In [2]:
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt

In [5]:
pd.set_option("display.max_columns",None)
path=input("Enter The Path of your dataset with extension:")
print(path)

Enter The Path of your dataset with extension:D:/diamonds-m.csv
D:/diamonds-m.csv

In [28]:
if path.endswith(".csv"):
    df= pd.read_csv (path) 
    print(df.head())
elif path.endswith(".xlsx"):
    df= pd.read_excel(path) 
    print(df.head())
elif path.endswith(".txt"):
    df= pd.read(path) 
    print(df.head())

   id  carat      cut color clarity popularity  depth  table  price     x  \
0   1   0.23    Ideal     E     SI2       Good   61.5   55.0  326.0  3.95
1   2   0.21  Premium     E     SI1       Good   59.8   61.0  326.0  3.89
2   3   0.23     Good     E     VS1       Fair   56.9   65.0  327.0  4.05
3   4   0.29  Premium     I     VS2       Poor   62.4   58.0  334.0  4.20
4   5   0.31     Good     J     SI2       Good   63.3   58.0  335.0  4.34

      y     z
0  3.98  2.43
1  3.84  2.31
2  4.07  2.31
3  4.23  2.63
4  4.35  2.75

In [6]:
df= pd.read_csv (path) 
print(df.head())

   id  carat      cut color clarity popularity  depth  table  price     x  \
0   1   0.23    Ideal     E     SI2       Good   61.5   55.0  326.0  3.95
1   2   0.21  Premium     E     SI1       Good   59.8   61.0  326.0  3.89
2   3   0.23     Good     E     VS1       Fair   56.9   65.0  327.0  4.05
3   4   0.29  Premium     I     VS2       Poor   62.4   58.0  334.0  4.20
4   5   0.31     Good     J     SI2       Good   63.3   58.0  335.0  4.34

      y     z
0  3.98  2.43
1  3.84  2.31
2  4.07  2.31
3  4.23  2.63
4  4.35  2.75

## 1 . What is structure of the dataset .

In [7]:
print("The Strucure of the dataset is:",df.shape)

The Strucure of the dataset is: (53940, 12)

 ##  2 . What are the datatype of each columns?

In [8]:
df.dtypes

id              int64
carat         float64
cut            object
color          object
clarity        object
popularity     object
depth         float64
table         float64
price         float64
x             float64
y             float64
z             float64
dtype: object

## 3. What is the length of alpha numeric columns

In [14]:
print("Only Alpha numeric Values", df.map(lambda v: v.isalnum()).sum())

AttributeError: 'DataFrame' object has no attribute 'map'

In [23]:
df_series=df.iloc[:]

In [24]:
type(df_series)

pandas.core.frame.DataFrame

In [22]:
print("Only Alpha numeric Values", df.df_series.map(lambda v: v.isalnum()).sum())

AttributeError: 'DataFrame' object has no attribute 'df_series'

In [21]:
df_series

id                1
carat          0.23
cut           Ideal
color             E
clarity         SI2
popularity     Good
depth          61.5
table            55
price           326
x              3.95
y              3.98
z              2.43
Name: 0, dtype: object