In [48]:
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt
import numpy as np

In [3]:
pd.set_option("display.max_columns",None)
path=input("Enter The Path of your dataset with extension:")
print(path)

Enter The Path of your dataset with extension:D:/diamonds-m.csv
D:/diamonds-m.csv

In [4]:
if path.endswith(".csv"):
    df= pd.read_csv (path) 
    print(df.head())
elif path.endswith(".xlsx"):
    df= pd.read_excel(path) 
    print(df.head())
elif path.endswith(".txt"):
    df= pd.read(path) 
    print(df.head())

   id  carat      cut color clarity popularity  depth  table  price     x  \
0   1   0.23    Ideal     E     SI2       Good   61.5   55.0  326.0  3.95
1   2   0.21  Premium     E     SI1       Good   59.8   61.0  326.0  3.89
2   3   0.23     Good     E     VS1       Fair   56.9   65.0  327.0  4.05
3   4   0.29  Premium     I     VS2       Poor   62.4   58.0  334.0  4.20
4   5   0.31     Good     J     SI2       Good   63.3   58.0  335.0  4.34

      y     z
0  3.98  2.43
1  3.84  2.31
2  4.07  2.31
3  4.23  2.63
4  4.35  2.75

In [5]:
df= pd.read_csv (path) 
print(df.head())

   id  carat      cut color clarity popularity  depth  table  price     x  \
0   1   0.23    Ideal     E     SI2       Good   61.5   55.0  326.0  3.95
1   2   0.21  Premium     E     SI1       Good   59.8   61.0  326.0  3.89
2   3   0.23     Good     E     VS1       Fair   56.9   65.0  327.0  4.05
3   4   0.29  Premium     I     VS2       Poor   62.4   58.0  334.0  4.20
4   5   0.31     Good     J     SI2       Good   63.3   58.0  335.0  4.34

      y     z
0  3.98  2.43
1  3.84  2.31
2  4.07  2.31
3  4.23  2.63
4  4.35  2.75

## 1 . What is structure of the dataset .

In [10]:
print("The Strucure of the dataset is:",df.shape)

The Strucure of the dataset is: (53940, 12)

 ##  2 . What are the datatype of each columns?

In [11]:
df.dtypes

id              int64
carat         float64
cut            object
color          object
clarity        object
popularity     object
depth         float64
table         float64
price         float64
x             float64
y             float64
z             float64
dtype: object

## 3. What is the length of alpha numeric columns

In [40]:
df.iloc[1].str.isalnum()

id             NaN
carat          NaN
cut           True
color         True
clarity       True
popularity    True
depth          NaN
table          NaN
price          NaN
x              NaN
y              NaN
z              NaN
Name: 1, dtype: object

In [46]:
df.iloc[[100]]

,id,carat,cut,color,clarity,popularity,depth,table,price,x,y,z
100,101,0.75,Very Good,D,SI1,Good,63.2,56.0,2760.0,5.8,5.75,3.65

In [45]:
df.iloc[:1]

,id,carat,cut,color,clarity,popularity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,Good,61.5,55.0,326.0,3.95,3.98,2.43

In [47]:
df.ix[1]

C:\Users\admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

id                  2
carat            0.21
cut           Premium
color               E
clarity           SI1
popularity       Good
depth            59.8
table              61
price             326
x                3.89
y                3.84
z                2.31
Name: 1, dtype: object

In [64]:

if(df["color"].dtype==object):
    print("yes")

yes

In [97]:
column_name=df.columns
print(column_name)
len(column_name)
col_object_list=[]

Index(['id', 'carat', 'cut', 'color', 'clarity', 'popularity', 'depth',
       'table', 'price', 'x', 'y', 'z'],
      dtype='object')

In [66]:
if(df[column_name[1]].dtype==object):
    print("yes");
else:
    print("no")

no

In [98]:
for i in range(0,len(column_name)):
    if(df[column_name[i]].dtype==object):
        col_object_list.append(i)
print(col_object_list)

[2, 3, 4, 5]

In [116]:
for i in object_col:
     obj=df.iloc[:,i]
print(obj)

0        Good
1        Good
2        Fair
3        Poor
4        Good
5        Poor
6        Fair
7        Good
8        Poor
9        Fair
10       Good
11       Fair
12       Good
13       Good
14       Good
15        NaN
16       Good
17       Good
18       Good
19       Good
20       Good
21       Poor
22       Fair
23       Good
24       Good
25       Poor
26       Fair
27       Poor
28       Poor
29       Fair
         ...
53910    Good
53911    Good
53912    Poor
53913    Poor
53914    Fair
53915    Good
53916    Good
53917    Good
53918    Fair
53919    Poor
53920    Poor
53921    Poor
53922    Fair
53923    Poor
53924    Poor
53925    Good
53926    Good
53927    Good
53928    Good
53929    Fair
53930    Good
53931    Good
53932    Poor
53933    Poor
53934    Good
53935    Good
53936    Good
53937    Good
53938    Good
53939    Good
Name: popularity, Length: 53940, dtype: object

In [112]:
obj.str.isalnum()

0        True
1        True
2        True
3        True
4        True
5        True
6        True
7        True
8        True
9        True
10       True
11       True
12       True
13       True
14       True
15        NaN
16       True
17       True
18       True
19       True
20       True
21       True
22       True
23       True
24       True
25       True
26       True
27       True
28       True
29       True
         ...
53910    True
53911    True
53912    True
53913    True
53914    True
53915    True
53916    True
53917    True
53918    True
53919    True
53920    True
53921    True
53922    True
53923    True
53924    True
53925    True
53926    True
53927    True
53928    True
53929    True
53930    True
53931    True
53932    True
53933    True
53934    True
53935    True
53936    True
53937    True
53938    True
53939    True
Name: popularity, Length: 53940, dtype: object

In [110]:
df.iloc[:,6].str.isalnum().sum()

AttributeError: Can only use .str accessor with string values, which use np.object_ dtype in pandas

In [113]:
df.iloc[:,2].str.isalnum()

0         True
1         True
2         True
3         True
4         True
5        False
6        False
7        False
8         True
9        False
10        True
11        True
12        True
13        True
14        True
15        True
16        True
17        True
18        True
19       False
20        True
21       False
22       False
23       False
24       False
25       False
26        True
27       False
28       False
29       False
         ...
53910     True
53911     True
53912     True
53913     True
53914     True
53915     True
53916     True
53917    False
53918     True
53919     True
53920    False
53921    False
53922    False
53923     True
53924     True
53925     True
53926     True
53927     True
53928     True
53929     True
53930     True
53931     True
53932    False
53933    False
53934     True
53935     True
53936     True
53937    False
53938     True
53939     True
Name: cut, Length: 53940, dtype: bool

In [91]:
df.iloc[:,3].str.isalnum().sum()

53937

In [92]:
df.iloc[:,4].str.isalnum().sum()

53940

In [93]:
df.iloc[:,5].str.isalnum().sum()

53930

In [96]:
df.iloc[:,3]

0          E
1          E
2          E
3          I
4          J
5          J
6          I
7          H
8          E
9          H
10         J
11         J
12         F
13         J
14         E
15         E
16         I
17         J
18         J
19         J
20         I
21         E
22         H
23         J
24         J
25         G
26         I
27         J
28         D
29         F
        ...
53910      E
53911      E
53912      F
53913      G
53914      I
53915      E
53916      D
53917      J
53918      I
53919    NaN
53920      E
53921      E
53922      D
53923      I
53924      I
53925      I
53926      E
53927      F
53928      E
53929      G
53930      E
53931      F
53932      E
53933      E
53934      D
53935      D
53936      D
53937      D
53938      H
53939      D
Name: color, Length: 53940, dtype: object

In [105]:
df

,id,carat,cut,color,clarity,popularity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,Good,61.5,55.0,326.0,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,Good,59.8,61.0,326.0,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,Fair,56.9,65.0,327.0,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,Poor,62.4,58.0,334.0,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,Good,63.3,58.0,335.0,4.34,4.35,2.75
5,6,0.24,Very Good,J,VVS2,Poor,62.8,57.0,336.0,3.94,3.96,2.48
6,7,0.24,Very Good,I,VS1,Fair,62.3,57.0,336.0,3.95,3.98,2.47
7,8,0.26,Very Good,H,SI1,Good,61.9,55.0,337.0,4.07,4.11,2.53
8,9,0.22,Fair,E,VS2,Poor,65.1,61.0,337.0,3.87,3.78,2.49
9,10,0.23,Very Good,H,VS1,Fair,59.4,61.0,NaN,4.00,4.05,2.39
10,11,0.30,Good,J,SI1,Good,64.0,55.0,339.0,4.25,4.28,2.73
11,12,0.23,Ideal,J,VS1,Fair,62.8,56.0,340.0,3.93,3.90,2.46
12,13,0.22,Premium,F,SI1,Good,60.4,61.0,342.0,3.88,3.84,2.33
13,14,0.31,Ideal,J,SI2,Good,62.2,54.0,344.0,4.35,4.37,2.71
14,15,0.20,Premium,E,SI2,Good,60.2,62.0,345.0,3.79,3.75,2.27
15,16,0.32,Premium,E,I1,NaN,60.9,58.0,345.0,4.38,4.42,2.68
16,17,0.30,Ideal,I,SI2,Good,62.0,54.0,348.0,4.31,4.34,2.68
17,18,0.30,Good,J,SI1,Good,63.4,54.0,351.0,4.23,4.29,2.70
18,19,0.30,Good,J,SI1,Good,63.8,56.0,351.0,4.23,4.26,2.71
19,20,0.30,Very Good,J,SI1,Good,62.7,59.0,351.0,4.21,4.27,2.66
20,21,0.30,Good,I,SI2,Good,63.3,56.0,351.0,4.26,4.30,2.71
21,22,0.23,Very Good,E,VS2,Poor,63.8,55.0,352.0,3.85,3.92,2.48
22,23,0.23,Very Good,H,VS1,Fair,61.0,57.0,353.0,3.94,3.96,2.41
23,24,0.31,Very Good,J,SI1,Good,59.4,62.0,353.0,4.39,4.43,2.62
24,25,0.31,Very Good,J,SI1,Good,58.1,62.0,353.0,4.44,4.47,2.59
25,26,0.23,Very Good,G,VVS2,Poor,60.4,58.0,354.0,3.97,4.01,2.41
26,27,0.24,Premium,I,VS1,Fair,62.5,57.0,355.0,3.97,3.94,2.47
27,28,0.30,Very Good,J,VS2,Poor,62.2,57.0,357.0,4.28,4.30,2.67
28,29,0.23,Very Good,D,VS2,Poor,60.5,61.0,357.0,3.96,3.97,2.40
29,30,0.23,Very Good,F,VS1,Fair,60.9,57.0,357.0,3.96,3.99,2.42
...,...,...,...,...,...,...,...,...,...,...,...,...
53910,53911,0.70,Premium,E,SI1,Good,60.5,58.0,2753.0,5.74,5.77,3.48
53911,53912,0.57,Premium,E,IF,Good,59.8,60.0,2753.0,5.43,5.38,3.23
53912,53913,0.61,Premium,F,VVS1,Poor,61.8,59.0,2753.0,5.48,5.40,3.36
53913,53914,0.80,Good,G,VS2,Poor,64.2,58.0,2753.0,5.84,5.81,3.74
53914,53915,0.84,Good,I,VS1,Fair,63.7,59.0,2753.0,5.94,5.90,3.77
53915,53916,0.77,Ideal,E,SI2,Good,62.1,56.0,2753.0,5.84,5.86,3.63
53916,53917,0.74,Good,D,SI1,Good,63.1,59.0,2753.0,5.71,5.74,3.61
53917,53918,0.90,Very Good,J,SI1,Good,63.2,60.0,2753.0,6.12,6.09,3.86
53918,53919,0.76,Premium,I,VS1,Fair,59.3,62.0,2753.0,5.93,5.85,3.49
53919,53920,0.76,Ideal,NaN,VVS1,Poor,62.2,55.0,2753.0,5.89,5.87,3.66
53920,53921,0.70,Very Good,E,VS2,Poor,62.4,60.0,2755.0,5.57,5.61,3.49
53921,53922,0.70,Very Good,E,VS2,Poor,62.8,60.0,2755.0,5.59,5.65,3.53
53922,53923,0.70,Very Good,D,VS1,Fair,63.1,59.0,2755.0,5.67,5.58,3.55
53923,53924,0.73,Ideal,I,VS2,Poor,61.3,56.0,2756.0,5.80,5.84,3.57
53924,53925,0.73,Ideal,I,VS2,Poor,61.6,55.0,2756.0,5.82,5.84,3.59
53925,53926,0.79,Unknown,I,SI1,Good,61.6,56.0,2756.0,5.95,5.97,3.67
53926,53927,0.71,Ideal,E,SI1,Good,61.9,56.0,2756.0,5.71,5.73,3.54
53927,53928,0.79,Good,F,SI1,Good,58.1,59.0,2756.0,6.06,6.13,3.54
53928,53929,0.79,Premium,E,SI2,Good,61.4,58.0,2756.0,6.03,5.96,3.68
53929,53930,0.71,Ideal,G,VS1,Fair,61.4,56.0,2756.0,5.76,5.73,3.53
53930,53931,0.71,Premium,E,SI1,Good,60.5,55.0,2756.0,5.79,5.74,3.49
53931,53932,0.71,Premium,F,SI1,Good,59.8,62.0,2756.0,5.74,5.73,3.43
53932,53933,0.70,Very Good,E,VS2,Poor,60.5,59.0,2757.0,5.71,5.76,3.47
53933,53934,0.70,Very Good,E,VS2,Poor,61.2,59.0,2757.0,5.69,5.72,3.49
53934,53935,0.72,Premium,D,SI1,Good,62.7,59.0,2757.0,5.69,5.73,3.58
53935,53936,0.72,Ideal,D,SI1,Good,60.8,57.0,2757.0,5.75,5.76,3.50
53936,53937,0.72,Good,D,SI1,Good,63.1,55.0,2757.0,5.69,5.75,3.61
53937,53938,0.70,Very Good,D,SI1,Good,62.8,60.0,2757.0,5.66,5.68,3.56
53938,53939,0.86,Premium,H,SI2,Good,61.0,58.0,2757.0,6.15,6.12,3.74
53939,53940,0.75,Ideal,D,SI2,Good,62.2,55.0,2757.0,5.83,5.87,3.64